body {
  font-family: "Muli";
}
.first {
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;
}
.h3 {
  color: #141733;
  font-size: 35px;
  font-weight: 800;
  line-height: 1.2;
}
.paragraph {
  font-family: "Muli";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #8e8f9a;
  font-style: normal;
}
.left {
  position: relative;
  margin-right: 20px;
}

.right {
  height: 100px;
  width: 300px;
  margin-left: 78px;
  margin-top: -60px;
}
.right:hover > .content-data {
  opacity: 1;
  display: block;
  visibility: visible;
  transition-duration: 2s;
}
.right:hover > .content-head {
  opacity: 0;
  display: none;
  visibility: hidden;
  transition-duration: 2s;
}
.right:hover > .content {
  margin-left: 20px;
  color: #ff812d;
}

.content-head {
  position: relative;
  font-size: 20px;
  font-weight: 700;
}
/* .content-head:hover{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    width: 100px;
    height: 100px;
    background-color:#ff812d;
  transition-property: width;
  transition-duration: 2s;
} */
 
.content {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  font-size: 18px;
  display: block;
  padding-left: 2px;
} 
.content-data {
  opacity: 0;
  display: none;
  visibility: hidden;
}
.fa-4x {
  color: #ff812d;
}
section{
  display: flex;
  width: 100%;
  flex-wrap:wrap;
  justify-content:center;
}

.card {
    margin: 2.5%;
    padding: 2.5%;
    color: #171717;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:20em;
    /* box-shadow: -15px 15px 10px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.24); */
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    /* box-shadow: -15px 15px 28px #171717, 0 10px 10px #171717; */
    transform: translateY(-25px);;
}
/* @-webkit-keyframes box {
  15% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

/* .box { */
  /* display: inline-block;
  vertical-align: middle;
  padding-left: 12px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; */
  /* margin: 0.4em;
  padding: 1em;
  cursor: pointer; */
  /* background: #e1e1e1; */
  /* text-decoration: none;
  color: #666;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid grey;
} */

/* .box:hover { */
  /* -webkit-animation: box 0s ease;
  animation: box 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; */
  /* margin: 0.4em;
  padding: 10px;
  cursor: pointer; */
  /* background: #fffff;
  align-items:center;
  border-radius:5px;
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
   box-shadow:10px 10px 5px 5px grey; */
/* } */
.test{
  padding: 0.5rem 0;
}
/* .content-new{
  padding:10px;
  font-size: 5px;
  position:relative;
  width:30px;
  color: #ffff;
  transition: all 0.2s;
}
.content-new:hover{
  position: absolute;
  top:6px;
  left:-2px;
  width:5px;
  height:2px;
  padding-left: 19px;
  background-color: #171717;
  opacity:1;
  display: inline-block;
} */

.content-new{
  position: absolute;
    display: block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent rgba(var(--ca-dark),.1);
}

.content-new::before,.content-new::after{
    position: absolute;
    content: "";
    left: -6px;
    top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4.5px 0 4.5px 6px;
    border-color: transparent transparent transparent rgba(var(--ca-light),.1);
    transition: all .3s ease;
}